/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Estilos para el header */
header {
  background-color: #051c35;
  color: white;
  text-align: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column; /* Alineamos los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

header .logo img {
  width: 100px; /* Ajusta el tamaño del logo */
  height: 70px; /* Ajusta el tamaño del logo */
  object-fit: cover; /* Asegura que la imagen mantenga la proporción */
  margin-bottom: 20px; /* Añade un poco de espacio debajo del logo */
}

header h1 {
  font-size: 36px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin-top: 10px; /* Añade un poco de espacio entre el título y la descripción */
}

header nav{
    margin-top: 10px;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
}


header nav a:hover {
    text-decoration: underline;
}

#Bolsa{
    font-size: 17px;
    color: #7faeda;
}

#Dolar{
    font-size: 17px;
    color: #4CAF50;
}

.reserva h4{
    margin-top: 25px;
}

.reserva p {
    font-size: 12px;
}
section {
    margin-top: 30px;
}


/* Estilo para resaltar la fila */
.resaltada {
    background-color: #90b4d493; /* Color de fondo gris claro */
  }
  
.inmovilizar{
  position: sticky;
  top:0;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.neutro{
    background-color: #8ebde9;
}

.bolsas{
    font-size: 10px;
    padding: 0;
}
.pesos{
    background-color: #8ebde9;
}

.pesosDif{
    background-color: #7faeda;
}

.dól{
    background-color: #87c589;
}
table th {
    background-color: #58b45b;
    color: white;
}

footer {
    text-align: center;
    margin-top: 50px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.grid-barrios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

.grid-barrios a{
    text-decoration: none;
}
  
  .barrio-item {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #05315a6c;
  }
  
  .barrio-item:hover {
    transform: scale(1.05);
  }
  
  .barrio-item h3 {
    font-size: 18px;
    color: #333;
  }
  
 
  /* Contenedor principal del bloque */
/* Título principal con líneas arriba y abajo */
.condiciones-container h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative; /* Asegura que las líneas estén en la misma posición que el texto */
    padding: 10px 0; /* Padding vertical para separar el texto de las líneas */
  }
  
  .condiciones-container h2::before,
  .condiciones-container h2::after {
    content: ''; /* Necesario para crear pseudo-elementos */
    position: absolute; /* Colocarlos en la misma línea */
    left: 0;
    width: 100%; /* Hacer que la línea ocupe todo el ancho del contenedor */
    border-bottom: 2px solid #ddd; /* Línea de 2px de grosor */
  }
  
  .condiciones-container h2::before {
    top: 0; /* Línea arriba del texto */
  }
  
  .condiciones-container h2::after {
    bottom: 0; /* Línea abajo del texto */
  }
  
  /* Subtítulo de la reserva */
  .reserva h3 {
    font-size: 20px;
    color: #619fda;
    margin-bottom: 15px;
  }

  .Gastos{
    font-size: 10px;
    color: #4CAF50; /* Color verde para resaltar */
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .Gastospesos{
    font-size: 10px;
    color: #619fda;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  
  .reserva span {
    font-weight: bold;
    font-size: 24px; /* Resaltar el porcentaje */
  }
  
  /* Características del lote */
  .caracteristicas h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .caracteristicas ul {
    list-style-type: none; /* Quitar viñetas */
    padding: 0;
  }
  
  .caracteristicas li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px; /* Espaciado entre características */
  }
  
  .caracteristicas li strong {
    color: #333; /* Resaltar los títulos de cada característica */
  }
  
  /* Estilos Responsive */

  @media (max-width: 768px) {
    .grid-barrios {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  
    .barrio-item h3 {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .grid-barrios {
      grid-template-columns: 1fr; /* Una sola columna en móviles */
    }
  
    .barrio-item h3 {
      font-size: 14px;
    }
  }
  
  /* Para pantallas de hasta 768px (Tabletas) */
  @media (max-width: 768px) {
    .condiciones-container {
      padding: 15px; /* Menos padding en pantallas más pequeñas */
    }
  
    .condiciones-container h2 {
      font-size: 22px; /* Reducir tamaño del título */
    }
  
    .reserva h3 {
      font-size: 18px; /* Reducir tamaño de la reserva */
    }
  
    .reserva span {
      font-size: 22px; /* Reducir tamaño del porcentaje */
    }
  
    .caracteristicas h3 {
      font-size: 18px; /* Reducir tamaño del subtítulo */
    }
  
    .caracteristicas li {
      font-size: 14px; /* Reducir tamaño de las características */
    }
  }
  
  /* Para pantallas de hasta 480px (Móviles) */
  @media (max-width: 480px) {
    .condiciones-container {
      padding: 10px; /* Aumentar la reducción de padding en móviles */
      margin-top: 20px; /* Reducir el margen superior */
    }
  
    .condiciones-container h2 {
      font-size: 20px; /* Reducir aún más el tamaño del título */
    }
  
    .reserva h3 {
      font-size: 16px; /* Reducir el tamaño de la reserva */
    }
  
    .reserva span {
      font-size: 20px; /* Reducir el tamaño del porcentaje */
    }
  
    .caracteristicas h3 {
      font-size: 16px; /* Reducir tamaño del subtítulo */
    }
  
    .caracteristicas li {
      font-size: 13px; /* Reducir tamaño de las características */
    }
  }
  


   /* Contenedor principal de las condiciones */
   .condiciones-containersakura{
    display: flex;
    justify-content: space-between; /* Espacio entre las dos secciones */
    gap: 30px; /* Separación entre las dos columnas */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }

  /* Estilo común para las columnas de condiciones (USD y Pesos) */
  .condiciones-columnsakura {
    flex: 1; /* Hace que las columnas tengan el mismo tamaño */
  }

  /* Título principal */
  .condiciones-columnsakura h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 0;
  }

  /* Pseudo-elementos para las líneas arriba y abajo del título */
  .condiciones-columnsakura h2::before,
  .condiciones-columnsakura h2::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #ddd;
  }

  .condiciones-columnsakura h2::before {
    top: 0;
  }

  .condiciones-columnsakura h2::after {
    bottom: 0;
  }

  /* Subtítulo de la reserva */
  .reservasakura h3 {
    font-size: 20px;
    color: #4CAF50;
    margin-bottom: 15px;
  }

  .reservasakura span {
    font-weight: bold;
    font-size: 24px;
  }

  /* Características del lote */
  .caracteristicassakura h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }

  .caracteristicassakura ul {
    list-style-type: none;
    padding: 0;
  }

  .caracteristicassakura li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
  }

  .caracteristicassakura li strong {
    color: #333;
  }

  /* Estilos específicos para los valores en USD */
  .precio-usdsakura {
    color: #4CAF50; /* Verde para USD */
  }

  /* Estilos específicos para los valores en Pesos */
  .precio-pesossakura {
    color: #00BFFF; /* Celeste para Pesos */
  }


  /* Estilos para la leyenda o referencia de colores */
  .leyenda {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
  }

  .leyenda div {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espaciado entre el cuadrado de color y el texto */
  }

  .cuadrado-color {
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }

  .descripcion-color {
    font-size: 16px;
    color: #333;
  }

  .noDisponibles{
    background-color: rgba(128, 128, 128, 0.747);
  }

  .reservado{
    background-color: #347c36a8;
}

/* Estilos para el footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  flex-shrink: 0; /* Evita que el footer se encoja */
}

footer p {
  margin: 0;
  font-size: 14px;
}

/* Estilos para los iconos de redes sociales */
.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}

/* Responsividad */
@media (max-width: 768px) {
  header h1 {
    font-size: 28px;
  }

  header p {
    font-size: 16px;
  }

  .grid-barrios {
    grid-template-columns: 1fr 1fr; /* 2 columnas en pantallas medianas */
  }

  .barrio-item h3 {
    font-size: 18px;
  }

  .social-icons a {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 22px;
  }

  .grid-barrios {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }

  .barrio-item h3 {
    font-size: 16px;
  }

  .social-icons a {
    font-size: 20px;
  }
}

/* Contenedor principal del grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de igual tamaño */
  gap: 20px; /* Espacio entre los contenedores */
  margin-top: 30px;
}

/* Contenedor individual de cada sección */
.grid-item {
  background: #f0f4f8; /* Fondo suave gris claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px; /* Altura fija para los contenedores */
  position: relative;
}

/* Estilo para el icono y el texto en el contenedor */
.grid-item i {
  font-size: 40px;
  color: #007bff; /* Color azul para los iconos */
  margin-bottom: 15px;
}

.grid-item a {
text-decoration: none;
color: black;
}

.grid-item p {
  font-size: 14px;
  color: #555; /* Color del texto */
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

/* Contenedor de la descripción */
.descripcion {
  flex-grow: 1;
  background: #ccebfa; /* Fondo azul muy claro para la descripción */
  padding: 25px;
  border-radius: 8px;
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

/* Efecto de hover para cada item */
.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Responsividad: cuando la pantalla sea pequeña (menos de 768px) */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }
}
